$mainBackground: #21325e;
$mainBackgroundSecondary: #3e497a;
$mainColor: white;
$mainColorBis: #f0f0f0;
$mainColorter: #e9efff;
$mainColorter: #eef1fb;
$mainColorter: #a8aec2;
$mainColorSecondary:#e9d35b;

// tests
$mainColor: #1F2E43;
$mainColorBis: #263A53;
$mainColorTres: #426691;
$mainColorQuatro: #6A9AC4;
$mainColorCinco: #BDD2E5;
$mainColorsix: #E2ECFF;
$mainColorClear: #f0f0f0;
// $mainColorSpecial: #FD917E;
// $mainColorSpecial:#e9d35b;
$mainColorSpecial: #ffa500;
$mainColorSpecialBis: #f8c15a;
$mainColorGrey: #99999F;
$mainColorWhite: white;

$mainColorPrincipalEx: #21325e;
$mainColorSecondaryEx: #3e497a;
$mainColorEx: #e9efff;