$mainBackground: #21325e;
$mainBackgroundSecondary: #3e497a;
$mainColor: white;
$mainColorBis: #f0f0f0;
$mainColorter: #e9efff;
$mainColorter: #eef1fb;
$mainColorter: #a8aec2;
$mainColorSecondary:#e9d35b;

// tests
$mainColor: #1F2E43;
$mainColorBis: #263A53;
$mainColorBisTransparent: rgb(38, 58, 83, 0.4);
$mainColorTres: #426691;
$mainColorQuatro: #6A9AC4;
$mainColorCinco: #BDD2E5;
$mainColorsix: #E2ECFF;
$mainColorClear: #f0f0f0;
// $mainColorSpecial: #FD917E;
// $mainColorSpecial:#e9d35b;
$mainColorSpecial: #ffa500;
$mainColorSpecial: #A484FF;
$mikeColortres: #8860f8;
$mikeColorSecondary: #6630f8;
$mainColorquatro: #cbbcf3;
$mainColorCinco: #181A38;
$mikeBackgroundGrey: #E9E7EE;
$mikeDarkGrey: rgb(61, 61, 61);
$mikeMediumGrey: #7c7b7b;
$colorReact: #61DAFB;
$mainColorSpecialBis: #f8c15a;
$mainColorSpecialBis: #e3dafb;
$mainColorGrey: #99999F;
$mainColorWhite: white;

$mainColorPrincipalEx: #21325e;
$mainColorSecondaryEx: #3e497a;
$mainColorEx: #e9efff;

// save color
// $mainColor: #0D3B66;
// #EEC643;
// #48A9A6
// #F46036;
// $mainColor: #007C77;
// $mainColorTres: #426691;

// $mainColor: #0D3B66;
// $mainColor: #007C77;
// $mainColorGrey: #A69CAC;
// CACFD6
// #F06449

// // tests
// $mainColor: #007C77;
// $mainColorBis: #083D77;
// $mainColorTres: #059b96;
// ;
// $mainColorQuatro: #6A9AC4;
// $mainColorCinco: #BDD2E5;
// $mainColorsix: #E2ECFF;
// $mainColorClear: #CACFD6;
// // $mainColorSpecial: #FD917E;
// // $mainColorSpecial:#e9d35b;
// $mainColorSpecial: #083D77;
// $mainColorSpecialBis: #f17e5e;
// $mainColorGrey: #A69CAC;
// $mainColorWhite: white;

// $mainColorPrincipalEx: #21325e;
// $mainColorSecondaryEx: #F46036;
// $mainColorEx: #e9efff;