@use 'vars';
@tailwind base;
@tailwind components;
@tailwind utilities;

.contact {
  height: calc(100vh - 300px);
  min-height: 875px;
}

/* 2/3 avec tailwin but max 522px for hight resolution */
.contact__left {
  max-height: 600px;
}

@media (max-width: 1023px) {
  .contact {
    /* height: 500px ; */
    min-height: 750px;
  }

}

#submitFormButton {
  background-color: vars.$mainColorSpecial;
  // color: vars.$mainColorClear;
}

#submitFormButton:hover {
  background-color: vars.$mainColorSpecialBis;
}