.cvContainer {
  display: flex;
  justify-content: center;
  
}

.documentCV {
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.pageCV {
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  
  
}

