@use 'vars';

.experience {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: vars.$mainColorClear;
  background: radial-gradient(circle, rgba(233,231,238,1) 0%, rgba(211,220,229,1) 100%);
  padding: 160px 0 60px;
  z-index: 0;
}

.experience h1 {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  color: vars.$mainColorBis;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.vertical-timeline-el .vertical-timeline {
  z-index: 0;
}

// .vertical-timeline-element-icon {
//   background: red;
// }