@use 'vars';

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  // color: vars.$mainColorBis;
}

.about {
  width: 100%;
  // max-width: 1200px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: vars.$mainColor;
  background-color: transparent;

}

// titre principal Henri Teinturier
.about h2 {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  padding: 8px;
  color: vars.$mikeBackgroundGrey;
  // height: 120px;
  margin-bottom: 3rem;
  font-weight: bold;
}

// couleur accentuée sur titre
.about h2 span {
  color: vars.$mainColorSpecial;

}

.about .prompt {
  width: 80%;
  margin: 0 auto;

}

// sous titre présentation
.about p {
  margin-bottom: 2rem;
  color: vars.$mikeBackgroundGrey;
  font-size: 35px;
  // font-size: 35px;
}

// sous titre accentuation plus legerement plus grand +5px
.about p span {
  color: vars.$mainColorSpecial;
  font-weight: bold;
  font-size: 40px;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: vars.$mikeBackgroundGrey;
}

.prompt svg:hover {
  color: vars.$mainColorSpecial;
}






@media only screen and (max-width: 600px) {
  // .about h2 {
  //   font-size: 40px;
  // }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

}