@use 'vars';

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background: vars.$mainColor;
  background: transparent;

  // to close navMenu animation
  z-index: 1;
  // vitesse de retour à 0 couleur navbar
  transition: all 0.4s;
}

.navbar.opacity1 {
  //TODO les 2 lignes a mettre quand scrolly = ?
  background: vars.$mikeBackgroundGrey;
  background: vars.$mainColorSpecialBis;
  background: vars.$mainColorCinco;
  background-image: linear-gradient(to right top, #181a38, #1a1b3e, #1c1b44, #1f1c4a, #231c50, #291f58, #2f2360, #352668, #3f2e75, #483682, #523e8f, #5c479d);
  box-shadow: 0 10px 10px rgba(black, 0.2);
  transition: all 0.4s ease-in-out;
}

.links {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  // fermeture des links
  transition: all 0.4s;
  //TODO là conserver quand transparent?
  padding-top: 0;
}

.navbar a {
  margin: 20px;
  font-size: 25px;
  color: vars.$mainColorClear;
  //TODO la ligne suivante a mettre quand scrolly = ?
  // color: vars.$mikeColorSecondary;
}

.navbar.opacity1 a {
  //TODO la ligne suivante a mettre quand scrolly = ?
  // color: vars.$mikeColorSecondary;
  // transition: all 0.4s ease-in-out;
}

.navbar a:hover {
  color: vars.$mainColorSpecial;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: vars.$mainColorClear;
  color: vars.$mainColorSpecial;
  color: vars.$mikeColorSecondary;
  cursor: pointer;
}

.toggleButton svg {
  font-size: 50px;
}

#open {
  // height: 100vh;
  // to open navMenu animation
  // position: sticky;
  background-color: vars.$mainColorBis;
  background-color: vars.$mainColorquatro;
  // vitesse change color navbar
  transition: all 0.4s;
  // height: 370px;
}

#open .links {
  // flex-direction: column;
  // justify-content: flex-start;
  position: sticky;
  // padding-top: 8px;
  background-color: vars.$mainColorBis;
  background-color: vars.$mainColorquatro;


  // background-color: vars.$mainBackgroundSecondary;
  height: 240px;
  // vitesse ouverture links
  transition: all 0.4s;
  padding-top: 0;
}

// #open .links a {
//   width: 100%;
//   text-align: center;
//   transition: all 2s;
// }

// .links a {
//   width: 100%;
//   text-align: center;
//   transition: all 2s;
// }

#open a {
  display: block;
  width: 100%;
  text-align: center;
  color: vars.$mainColorSpecial;
  color: vars.$mikeColorSecondary;
  margin: 0;


}

// @media only screen and (max-width: 900px) {
//   .navbar a {
//     width: 70px;
//     margin: 4px;
//   }
// }

@media only screen and (max-width: 700px) {
  .navbar {
    background: transparent;
  }

  .navbar.opacity1 {
    background: transparent;
    box-shadow: none;
  }

  .toggleButton {
    display: flex;
  }

  #close a {
    display: none;
  }

}

@media only screen and (min-width: 700px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}