@use 'vars';

.skills {
  // font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  // font-weight: bold;
  // height: calc(100vh - 100px);
  // max-width: 1100px;
  padding: 160px 0 60px;
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: vars.$mikeBackgroundGrey;
  // border-bottom: 2px solid vars.$mainBackground;
}

.skills h1 {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  color: vars.$mainColorSpecial;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 2.5rem;
}

.skills h2 {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  color: vars.$mikeDarkGrey;
  font-weight: 600;
  // margin-bottom: 1rem;
}

.skills .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.skills .item {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  color: vars.$mikeMediumGrey;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 2px lightgrey;
}

.list span {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {

  .list {
    // padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 8px;
  height: 220px;
  width: 170px;
  // border: solid 1px black;
  margin: 12px;
  background-color: white;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card__header {
  height: 8px;
}

.card__main {
  height: 150px;
  display: flex;
  align-items: center;
}

.card__main img {
  width: 150px;
  max-height: 150px;
  
}

.card__footer {
  width: 100%;

  font-size: large;
  color: white;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}